.page404 {
	width: 100%;
	height: calc(100dvh - 9vh);
	background-color: var(--bg-color-2);
	display: flex;
	align-items: center;
	justify-content: flex-end;
	flex-direction: column;
	overflow: hidden;
	position: relative;

	.info {
		height: 50%;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		top: 0;
		position: absolute;
		z-index: 2;
		flex-direction: column;
		gap: 1.9vh;
		
		p {
			font-size: 5.5vh;
			font-weight: 800;
			color: var(--secondary-color);
			text-align: center;

			&.small {
				font-size: 2.7vh;
				font-weight: 600;
			}
		}

		.action {
			margin-top: 2.7vh;
			height: 6vh;
		}
	}

	h1 {
		font-size: 81vh;
		scale: 1.5 1;
		font-family: "Disclaimer Classic", system-ui;
		font-weight: 500;
		translate: 0 15%;
		text-align: right;
		color: transparent;
		background: linear-gradient(to bottom, var(--secondary-color) 60%, var(--bg-color-2));
		background-clip: text;
		position: absolute;
	}
}